@use './variables';
@use './mixins' as *;

.container {
    @include center(horizontal);
    justify-content: space-between;
    height: $navandborderheight; //variabile scritta in _variable.scss

}
.dc-logo {
    transform: scale(0.7);
}
ul {
    list-style: none;
    display: flex;
    gap: 2%;
    font-size: 12px;
    margin-right: 2%;
}
li a {
    text-decoration: none;
    font-weight: bold;
    height: $navandborderheight; //variabile scritta in _variable.scss
    @include center;

    &.bordo {
        border-bottom: 4px solid transparent;
        &.active,
        &:hover {
            border-bottom-color:$bluedc;
            color: $bluedc;
        }
    }
}
